################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackLogProject/obj/Debug
/BackLogProject/bin/Debug
