################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackLogProject/obj/Debug
/.vs/BackLogProject/v14/.suo
